{% extends 'base.html' %}

{% block title %}
my subscriptions
{% endblock title %}

{% block content %}

    {% if not q_set %}
        <h1>You have no subscriptions :(</h1>
    {% endif %}

    {% for obj in q_set %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image" src={{ obj.profile.avatar.url }}>
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{ obj.profile.user }}</h3>
                        <p>{{ obj.profile.bio }}</p>
                        <a href="{{ obj.profile.get_absolute_url }}"><button class="ui primary button mb-5">View profile</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}