{% extends "base.html" %}

{% block title %}
    invite friends
{% endblock title %}

{% block content %}

    {% if is_empty %}
        <h1>No profiles to interact with</h1>
    {% endif %}

    {% for obj in q_set %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image" src={{obj.avatar.url}}>
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.bio}}</p>
                        <a href="{{ obj.get_absolute_url }}"><button class="ui primary button mb-5">See profile</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}