{% extends "base.html" %}

{% block title %}
delete post post
{% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class='ui negative message'>
                    <div class="header">
                        {{ message }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not messages %}
        <div class="ui segment">
            <h3>Are you sure you want to delete the post?</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <button type='submit' class="ui negative button">Delete!</button>
            </form>
        </div>
    {% endif %}

{% endblock content %}